<!--[127.0.0.1] [2019-05-17 17:22:39]-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="mobile-agent" content="format=html5;url=//h5.17k.com/chapter/2849619/35999186.html">
	<title>在线阅读
</title>

	<link rel="shortcut icon" href="/static/book.jpg">
<link rel="stylesheet" href="/static/reader_vip/main.css">
<script async="" src="/static/reader_vip/sensorsdata.js" charset="UTF-8"></script>
    <script type="text/javascript" async="" src="/static/reader_vip/auto_dup.js"></script><script type="text/javascript" src="/static/reader_vip/main_003.js"></script>

<script type="text/javascript" src="/static/reader_vip/Q.js"></script>
<!--<link href="/static///static.17k.com/www/skin/main_old.css" rel="stylesheet" type="text/css"/>-->
<!--重构-->
<link rel="stylesheet" href="/static/reader_vip/main_002.css">
<script type="text/javascript" src="/static/reader_vip/main.js"></script>

	<link href="/static/reader_vip/chapter_vip.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="/static/reader_vip/main_002.js" defer="defer" crossorigin=""></script>
	<script type="text/javascript" src="/static/reader_vip/chapter.js" defer="defer" crossorigin=""></script>
	<script type="text/javascript" src="/static/reader_vip/chapter_vip.js" defer="defer" crossorigin=""></script>
<script src="/static/reader_vip/h.js"></script><script src="/static/reader_vip/z_stat.js"></script>
	<script src="/static/reader_vip/push.js"></script>
	<script src="/static/reader_vip/prompt.js"></script>

</head>
<body>


<div class="Context ">
	<div class="Article" style="font-size: 1em;">

			<h1 class="title">第一百零四章 人道</h1>
			<div class="chapter_update_time">
				《归一》
				风御九秋/著,
				本章共3123字,
				更新于: 2018-10-01 00:28
			</div>

		<div class="content">
													<p>发现吴中元没了动静，王欣然歪头看他，见他睡着了，轻声叹了口气，伸手将他放在腿上的那份自热干粮拿了下来，又将他的背包往他身边挪了挪，然后点上一支香烟，站起身去看那石台上的琉璃水箱。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p>吴中元虽然睡着了，睡的却并不踏实，没过多久就醒了，醒来之后发现石室里多了两个年轻人，正在石台附近与王欣然小声交谈，这两个年轻人他之前都见过，是十八分局的人。</p>
													<p class="copy">
					VIP章节, 余下还有70个段落 ...
				</p>


					</div>
		<!--<div class="free">-->
			<!--<a href="/static/javascript:k.login(loadChapter);" class="login">本章需要登录才能继续阅读。</a>-->
		<!--</div>-->
		<div class="function">
			<!--<div class="btns">-->
				<!--<a href="/static/javascript:k.reward('hongbao');">红包打赏</a>-->
									<!--<a class="preChapter" href="/static/https://www.17k.com/chapter/2849619/35999008.html">上一章</a>-->
								<!--<a href="/static/https://www.17k.com/list/2849619.html" target="_blank">目录</a>-->
									<!--<a class="nextChapter" href="/static/https://www.17k.com/chapter/2849619/36004260.html">下一章</a>-->
								<!--<a href="/static/javascript:k.book(2849619).mark(35999186)">+书架</a>-->
			<!--</div>-->
		</div>

</div>

<link rel="stylesheet" href="/static/reader_vip/17k_footer.css">

<script type="text/javascript" src="/static/reader_vip/count.js"></script>


<script type="text/javascript" src="/static/reader_vip/m.js"></script>

</body></html>