
.tag1 {
	COLOR: #3979a6
}
.tag2 {
	COLOR: #a6397e
}
.tag3 {
	COLOR: #258029
}
.tag4 {
	COLOR: #e15118
}
.tag5 {
	COLOR: #2697a1
}
.tag6 {
	COLOR: #6e7d27
}
.tag7 {
	COLOR: #94ccd3
}
.tag8 {
	COLOR: #630072
}
.tag9 {
	COLOR: #df0000
}
.tag10 {
	COLOR: #0033ff
}
.tag11 {
	COLOR: #6666cc
}
.tag12 {
	COLOR: #66cc00
}
.tag13 {
	COLOR: #337799
}
.tag14 {
	COLOR: #ff9966
}
.tag15 {
	COLOR: #cc3399
}
.tag1:visited {
	COLOR: #3979a6
}
.tag2:visited {
	COLOR: #a6397e
}
.tag3:visited {
	COLOR: #258029
}
.tag4:visited {
	COLOR: #e15118
}
.tag5:visited {
	COLOR: #2697a1
}
.tag6:visited {
	COLOR: #6e7d27
}
.tag7:visited {
	COLOR: #94ccd3
}
.tag8:visited {
	COLOR: #630072
}
.tag9:visited {
	COLOR: #df0000
}
.tag10:visited {
	COLOR: #0033ff
}
.tag11:visited {
	COLOR: #6666cc
}
.tag12:visited {
	COLOR: #66cc00
}
.tag13:visited {
	COLOR: #337799
}
.tag14:visited {
	COLOR: #ff9966
}
.tag15:visited {
	COLOR: #cc3399
}
.tag1:hover {
	BACKGROUND-COLOR: #3979a6
}
.tag2:hover {
	BACKGROUND-COLOR: #a6397e
}
.tag3:hover {
	BACKGROUND-COLOR: #258029
}
.tag4:hover {
	BACKGROUND-COLOR: #e15118
}
.tag5:hover {
	BACKGROUND-COLOR: #2697a1
}
.tag6:hover {
	BACKGROUND-COLOR: #6e7d27
}
.tag7:hover {
	BACKGROUND-COLOR: #94ccd3
}
.tag8:hover {
	BACKGROUND-COLOR: #630072
}
.tag9:hover {
	BACKGROUND-COLOR: #df0000
}
.tag10:hover {
	BACKGROUND-COLOR: #0033ff
}
.tag11:hover {
	BACKGROUND-COLOR: #6666cc
}
.tag12:hover {
	BACKGROUND-COLOR: #66cc00
}
.tag13:hover {
	BACKGROUND-COLOR: #337799
}
.tag14:hover {
	BACKGROUND-COLOR: #ff9966
}
.tag15:hover {
	BACKGROUND-COLOR: #cc3399
}